<div class="fd-shellbar">
  <div class="fd-shellbar__group fd-shellbar__group--start">
    <a href="#" class="fd-shellbar__logo"><img src="//unpkg.com/fiori-fundamentals/dist/images/sap-logo.png" srcset="//unpkg.com/fiori-fundamentals/dist/images/sap-logo@2x.png 1x, //unpkg.com/fiori-fundamentals/dist/images/sap-logo@3x.png 2x, //unpkg.com/fiori-fundamentals/dist/images/sap-logo@4x.png 3x" width="48" height="24" alt="SAP"></a>
    <div class="fd-shellbar__product">
      <span class="fd-shellbar__title">{{title}}</span>
    </div>
  </div>
</div>
