<div class="fd-shell fd-ui--fundamentals">
    <div class="fd-shell__header">
<app-header></app-header>
    </div>
    <div class="fd-shell__app">
        <div class="fd-app">
            <main class="fd-app__main">

<div class="fd-section">
  <div class="fd-container fd-container--centered">
    <div class="fd-col--4 fd-col--shift-4">

<div class="fd-panel">
    <div class="fd-panel__header">
        <div class="fd-panel__head">
            <h1 class="fd-panel__title">
                Guess the Number
            </h1>
            <p class="fd-panel__description">
                Try your luck and guess the computer-generated number between 1 and {{maxnumber}}
            </p>
        </div>
    </div>
    <div class="fd-panel__body">
      <div class="fd-form__set">
          <div class="fd-form__item">
              <label class="fd-form__label" for="input-1">Your guess:
                <span class="fd-has-float-right">
                    Number of guesses <span class="fd-counter">{{noOfTries}}</span>
                </span>
              </label>
              <input class="fd-form__control" type="number" [value]="guess" (input)="guess = $event.target.value" placeholder="" min="1" [max]="maxnumber">
              <span *ngIf="message" class="fd-form__message" [ngClass]="{'fd-form__message--warning':!success}">
    {{message}}
              </span>
          </div>
      </div>
      <div class="fd-form__set">
          <div class="fd-form__item fd-has-text-align-right">
              <button class="fd-button--emphasized" (click)="verifyGuess()">Verify</button>
              <button class="fd-button--light" (click)="initalizeGame()">Restart</button>
          </div>
      </div>
    </div>
</div>

    </div>
  </div>
</div>


            </main>
        </div>
    </div>
    <div class="fd-shell__overlay fd-overlay fd-overlay--alert" aria-hidden="false">
      <app-alert *ngIf="success"></app-alert>
    </div>
</div>
