<div class="fd-shell fd-ui--fundamentals">
    <div class="fd-shell__header">
<app-header [title]="title"></app-header>
<button style="position: absolute; right: 24px; top: 6px;" class="fd-button--shell sap-icon--palette" (click)="openModal()"></button>
    </div>
    <div class="fd-shell__app">
        <div class="fd-app">
            <main class="fd-app__main">
              <article class="fd-page">
                <header class="fd-page__header">
                 <div class="fd-action-bar">
                     <div class="fd-action-bar__header">
                       <h1 class="fd-action-bar__title">
                           Try your luck
                       </h1>
                       <p class="fd-action-bar__description">Guess the computer-generated number between 1 and {{maxnumber}}</p>
                     </div>

                 </div>
             </header>


<div class="fd-section">
  <div class="fd-container fd-container--centered">
    <div class="fd-col--4 fd-col--shift-3">

<div class="fd-panel">
    <div class="fd-panel__header">
<h1 class="fd-panel__title">Your guess</h1>
      </div>
    <div class="fd-panel__body">
      <form class="fd-form__set" (submit)="verifyGuess()">
          <div class="fd-form__item">


              <input class="fd-form__control" type="number" [value]="guess" (input)="guess = $event.target.value" placeholder="" min="1" [max]="maxnumber">

          </div>
      </form>
      <div class="fd-form__set">
          <div class="fd-form__item fd-has-text-align-right">
              <button class="fd-button--emphasized" (click)="verifyGuess()">Verify</button>
              <button class="fd-button--light" (click)="initalizeGame()">Restart</button>
          </div>
      </div>
    </div>
</div>



    </div>


    <div class="fd-col--2">
<app-guess-panel [noOfTries]="noOfTries"></app-guess-panel>
      </div>


  </div>
</div>


             </article>
            </main>
        </div>
    </div>
    <div class="fd-shell__overlay fd-overlay" [ngClass]="{'fd-overlay--alert':message, 'fd-overlay--modal':modal}" aria-hidden="false">
      <app-alert *ngIf="message" [warning]="warning" [success]="success"  [message]="message"></app-alert>



      <div *ngIf="modal" class="fd-modal" role="dialog">
            <div class="fd-modal__content" role="document">
                <header class="fd-modal__header">
                    <h1 class="fd-modal__title">Runtime Theme Configuration</h1>
                    <button class="fd-button--light fd-modal__close" (click)="closeModal()"></button>
                </header>
                <div class="fd-modal__body">

<app-theme-config></app-theme-config>

                </div>
              </div>
          </div>




    </div>
</div>
